body{
  background-image: url("../retro.jpg");
  background-size: cover;
}

h1{
  margin-top: 50px;
  font-size: 50px;
  font-family: sans-serif;
  color: #FF2D95;
  text-shadow: #FFF 0px 0px 4px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  text-align: center;
}

canvas{
  border: 10px solid white;
  display: flex;
  margin: auto;
  margin-top: 50px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
